header {
  margin: 0 auto;
  background-image: url(img/Header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 3rem;
}
p::first-line {
  margin: 0 auto;
  color: red;
  font-size: 2rem;
}
p::first-letter {
  margin: 0 auto;
  color: green;
  font-size: 3rem;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
